<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,484},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>base.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{68,102}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{68,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>beibao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,372},{56,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{56,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beibao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,152},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beibaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{479,562}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,562}}</string>
                <key>sourceSize</key>
                <string>{479,564}</string>
            </dict>
            <key>duoxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,483},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>duoxuan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,448},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>duoxuankong.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,413},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>duoxuankong_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,378},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,562},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gong1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,524},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,494},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>haoyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,430},{62,70}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{62,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>haoyou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,232},{80,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,298},{224,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,16}}</string>
                <key>sourceSize</key>
                <string>{224,16}</string>
            </dict>
            <key>jindutiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,72},{224,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,16}}</string>
                <key>sourceSize</key>
                <string>{224,16}</string>
            </dict>
            <key>jindutiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{234,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,26}}</string>
                <key>sourceSize</key>
                <string>{234,26}</string>
            </dict>
            <key>jineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,308},{62,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{62,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jineng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,72},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jinengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,562}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,562}}</string>
                <key>sourceSize</key>
                <string>{479,564}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,343},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>xuanzhong_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,308},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>xuanzhongkong.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,273},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>xuanzhongkong_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,238},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d1fa41fe1b6d6b24d7141ef903dd1ee$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
