<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
 <key>effect</key>
 <integer>12</integer>
  <key>sign</key>
 <string>1366019525999</string>
        <key>frames</key>
        <dict>
            <key>1366019525999_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,264},{258,336}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,82},{258,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{260,336}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,82},{260,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{260,336}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,83},{260,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,786},{262,326}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,92},{262,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{260,336}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,83},{260,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{262,326}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,93},{262,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,786},{262,328}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,92},{262,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,524},{260,330}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,91},{260,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{260,332}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,89},{260,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,524},{260,334}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,87},{260,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,264},{258,336}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,84},{258,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366019525999_0_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,336}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,83},{260,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuansongmen.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a335814ff868979bee2f7ebc109b97c$</string>
            <key>textureFileName</key>
            <string>chuansongmen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
