<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
 <key>effect</key>
 <integer>15</integer>
  <key>sign</key>
 <string>1366602633512</string>
        <key>frames</key>
        <dict>
            <key>1366602633512_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,716},{186,188}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,179},{186,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,932},{256,266}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,113},{256,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{478,346}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,82},{478,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,694},{466,322}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,91},{466,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{466,312}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,114},{466,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,678},{398,252}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,143},{398,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,678},{274,160}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,223},{274,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,716},{304,296}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,103},{304,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,360},{472,354}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,68},{472,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{484,356}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,71},{484,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{490,338}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,78},{490,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,356}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{510,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,338},{474,338}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,72},{474,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,342},{484,350}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,77},{484,350}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1366602633512_0_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{478,334}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,79},{478,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingganglianhuanzhan.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e06b57116d32b5d63a65a6f80eacb44$</string>
            <key>textureFileName</key>
            <string>jingganglianhuanzhan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
